# --- POSTGRESQL ---
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_supersecretpassword
POSTGRES_DB=your_dbname
POSTGRES_PORT=5432

# --- KAFKA ---
KAFKA_EXTERNAL_PORT=9092
KAFKA_INTERNAL_PORT=29092